.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/hero-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: end;

    position: relative;

    h1 {
        padding: 50px;
        font-size: 80px;
        font-family: 'montserrat', sans-serif;
    }
}
