{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<nav>
    <div class="wrapper">
        <a href="#">Guillaume le Dingo</a>
    </div>
</nav>

<div class="hero">
    <div class="wrapper">
        <h1>Mon cahier d'exercices</h1>
    </div>
</div>

<div class="labo">
    <div class="wrapper">
        <h2>
            Mes premiers
            <strong>laboratoires</strong>
        </h2>
        <div class="card">
            <div class="card__media">
                <img src="assets/images/lab1.png" alt="lab1" />
            </div>
            <div class="card__content">
                <h2>sem01 révision</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                </p>
                <h3>html + css</h3>
                <a href="#" class="button">voir le laboratoire</a>
            </div>
        </div>

        <div class="card__media">
            <img src="assets/images/lab2.png" alt="lab1" />
        </div>
        <div class="card__content">
            <h2>sem01 révision</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
            </p>
            <h3>html + css</h3>
            <a href="#" class="button">voir le laboratoire</a>
        </div>

        <div class="card__media">
            <img src="assets/images/lab1.png" alt="lab1" />
        </div>

        <div class="card__content">
            <h2>sem01 révision</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
            </p>
            <h3>html + css</h3>
            <a href="#" class="button">voir le laboratoire</a>
        </div>

        <div class="card__media">
            <img src="assets/images/lab2.png" alt="lab1" />
        </div>
        <div class="card__content">
            <h2>sem01 révision</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
            </p>
            <h3>html + css</h3>
            <a href="#" class="button">voir le laboratoire</a>
        </div>
    </div>
</div>

<div class="reactive">
    <div class="wrapper">
        <h1>
            Mes
            <span>laboratoires réactifs</span>
        </h1>
        <div class="swiper js-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a href="#" class="card">
                        <div class="card__media">
                            <img src="assets/images/reactive1.png" alt="lab1" />
                        </div>
                        <div class="card__content">
                            <h2>sem01 révision</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                            </p>
                            <h3>html + css</h3>
                            <a href="#" class="button">voir le laboratoire</a>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="card">
                        <div class="card__media">
                            <img src="assets/images/reactive2.png" alt="lab1" />
                        </div>
                        <div class="card__content">
                            <h2>sem01 révision</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                            </p>
                            <h3>html + css</h3>
                            <a href="#" class="button">voir le laboratoire</a>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="card">
                        <div class="card__media">
                            <img src="assets/images/reactive3.png" alt="lab1" />
                        </div>
                        <div class="card__content">
                            <h2>sem01 révision</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                <strong>adipiscing elit. Ultrices lorem non feugiat egestas amet.</strong>
                            </p>
                            <h3>html + css</h3>
                            <a href="#" class="button">voir le laboratoire</a>
                        </div>
                    </a>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <footer>
        <div class="wrapper">
            <h2>
                Contactez-
                <strong>moi</strong>
                .
            </h2>
            <p>
                Afin qu'on puisse parler de
                <strong>votre</strong>
                projet.
            </p>
        </div>
    </footer>

    {% include "_partials/_footer.html" %}
</div>
